&
  ul.barchart
    position relative
    list-style-type none
    margin 0px
    padding 0px
    width 100%
    float left
    margin-top 30px
    li
      width 100%
      float left
      position absolute
      height 36px
      transition top 0.6s
      .title
        display block
        width 360px
        float left
        text-align right
        padding-right 30px
        position relative
        top 8px
        svg
          position relative
          top 4px
          margin-left 10px
          margin-top -7px
          display inline
          rect
          line
          circle
            stroke ColorBlue
            fill lighten(ColorBlue, 90%)
            shape-rendering CrispEdges
          rect
            fill lighten(ColorBlue, 95%)
          line
            stroke-dasharray 1,1,2,1
          rect:first-child
            fill none
      .bar
        float left
        height 20px
        position relative
        top 8px
        width calc(100% - 360px - 80px)
        .item
          z-index 2
          position relative
          float left
          height 100%
          transition all 0.6s
          &:nth-child(1)
            background #ab0000
          &:nth-child(2)
            background rgba(desaturate(#003366, 70%), 0.01)
            border 1px solid rgba(#003366, 0.1)
          &:nth-child(3)
            background rgba(desaturate(#0b5296, 70%), 0.01)
            border 1px solid rgba(#0b5296, 0.1)
          &:nth-child(4)
            background rgba(desaturate(#1a72c9, 70%), 0.01)
            border 1px solid rgba(#1a72c9, 0.1)
          &:nth-child(5)
            background rgba(desaturate(#2994ff, 70%), 0.01)
            border 1px solid rgba(#2994ff, 0.1)
          &:nth-child(1)
          &:nth-child(5)
            border-top-right-radius 2px
            border-bottom-right-radius 2px
          border-left 0px
        .count
          z-index 1
          position absolute
          white-space nowrap
          top 1px
          margin-left 10px
          font-size 12px
          &.all
            opacity 0.1
        svg
          position absolute
          top 23px
          left 0px
          transform skew(-30deg)
          line
            stroke ColorBlue
            shape-rendering crispEdges
            stroke-dasharray 6, 2
            stroke-width 5
    &.sort2
      li .bar .count
        &.all
          opacity 1
        &.service
          opacity 0.01
      li .bar .item
        &:nth-child(1)
          border-radius 0px
        &:nth-child(2)
          background #003366
        &:nth-child(3)
          background #0b5296
        &:nth-child(4)
          background #1a72c9
        &:nth-child(5)
          background #2994ff
  button
    position absolute
    top 8px
    right 650px
    border 1px solid lighten(ColorBlue, 10%)
    background lighten(ColorBlue, 98%)
    border-radius 2px
    padding 5px 12px
    box-shadow 0px 0px 2px lighten(ColorBlue, 50%)
    cursor pointer
    &:hover
      background lighten(ColorBlue, 95%)
      box-shadow 0px 0px 5px ColorBlue
    &:active
      background lighten(ColorBlue, 91%)

  ul.legend
    list-style none
    margin 0px
    padding 0px
    position absolute
    top 40px
    right 0px
    font-size 12px
    font-weight 500
    li
      float left
      padding-left 20px
      padding-right 18px
      position relative
      &:before
        content ""
        position absolute
        left 0px
        width 10px
        background #003366
        height 4px
        top 7px
        transform skew(-30deg)


